<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Ali's CRUD Operations</h1>
    <h>
        URLS bELOW FOR CRUD Porjrct
    </h2>

    <h3>
        To list all objects
        http://127.0.0.1:8000/list/
    </h3>

    <h3>
        To Submit for creation
        http://127.0.0.1:8000/home/
    </h3>
    <h3>
        To Enter admin Page
        http://127.0.0.1:8000/admin/
    </h3>

    <h3>
        to update
        Change the Index of object before update word
        http://127.0.0.1:8000/4/update/
    </h3>

    <h3>
        to Delete
        Change the Index of object before delete word
        http://127.0.0.1:8000/4/delete/
    </h3>

</body>
</html>